<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.polymer.generator.mapper.BaseClassMapper">

    <resultMap type="BaseClassEntity" id="BaseClassResult">
        <result property="id" column="id"/>
        <result property="packageName" column="package_name"/>
        <result property="code" column="code"/>
        <result property="fields" column="fields"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectBaseClassVo">
        select id,package_name,code,fields,remark,create_time
        from gen_base_class
    </sql>

    <!--查询基类管理列表-->
    <select id="selectBaseClassList" parameterType="com.polymer.generator.common.query.Query" resultMap="BaseClassResult">
        <include refid="selectBaseClassVo"/>
        <where>
            <if test="code != null and code != ''">
                AND code like concat('%', #{code}, '%')
            </if>
        </where>
    </select>

    <!--查询基类管理-->
    <select id="selectBaseClassById" parameterType="Long" resultMap="BaseClassResult">
        <include refid="selectBaseClassVo"/>
        where id = #{id}
    </select>

    <!--新增基类管理-->
    <insert id="insertBaseClass" parameterType="BaseClassEntity" useGeneratedKeys="true" keyProperty="id">
        insert into gen_base_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="packageName != null and packageName != ''">package_name,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="fields != null and fields != ''">fields,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="packageName != null and packageName != ''">#{packageName},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="fields != null and fields != ''">#{fields},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <!--修改基类管理-->
    <update id="updateBaseClass" parameterType="BaseClassEntity">
        update gen_base_class
        <set>
            <if test="packageName != null and packageName != ''">package_name = #{packageName},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="fields != null and fields != ''">fields = #{fields},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </set>
        where id = #{id}
    </update>

    <!--删除基类管理-->
    <delete id="deleteBaseClassById" parameterType="Long">
        delete from gen_base_class where id = #{id}
    </delete>

</mapper>