<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.polymer.generator.mapper.DatasourceMapper">

    <resultMap type="DatasourceEntity" id="DatasourceResult">
        <result property="id" column="id"/>
        <result property="dbType" column="db_type"/>
        <result property="connName" column="conn_name"/>
        <result property="connUrl" column="conn_url"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectDatasourceVo">
        select id,db_type,conn_name,conn_url,username,password,create_time
        from gen_datasource
    </sql>

    <!--查询数据源管理列表-->
    <select id="selectDatasourceList" parameterType="com.polymer.generator.common.query.Query" resultMap="DatasourceResult">
        <include refid="selectDatasourceVo"/>
        <where>
            <if test="connName != null and connName != ''">
                AND conn_name like concat('%', #{connName}, '%')
            </if>
            <if test="dbType != null and dbType != ''">
                AND db_type = #{dbType}
            </if>
        </where>
    </select>

    <!--查询数据源管理-->
    <select id="selectDatasourceById" parameterType="Long" resultMap="DatasourceResult">
        <include refid="selectDatasourceVo"/>
        where id = #{id}
    </select>

    <!--新增数据源管理-->
    <insert id="insertDatasource" parameterType="DatasourceEntity" useGeneratedKeys="true" keyProperty="id">
        insert into gen_datasource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dbType != null and dbType != ''">db_type,</if>
            <if test="connName != null and connName != ''">conn_name,</if>
            <if test="connUrl != null and connUrl != ''">conn_url,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dbType != null and dbType != ''">#{dbType},</if>
            <if test="connName != null and connName != ''">#{connName},</if>
            <if test="connUrl != null and connUrl != ''">#{connUrl},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <!--修改数据源管理-->
    <update id="updateDatasource" parameterType="DatasourceEntity">
        update gen_datasource
        <set>
            <if test="dbType != null and dbType != ''">db_type = #{dbType},</if>
            <if test="connName != null and connName != ''">conn_name = #{connName},</if>
            <if test="connUrl != null and connUrl != ''">conn_url = #{connUrl},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </set>
        where id = #{id}
    </update>

    <!--删除数据源管理-->
    <delete id="deleteDatasourceById" parameterType="Long">
        delete from gen_datasource where id = #{id}
    </delete>

</mapper>