<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.polymer.generator.mapper.FieldTypeMapper">

    <resultMap type="FieldTypeEntity" id="FieldTypeResult">
        <result property="id" column="id"/>
        <result property="columnType" column="column_type"/>
        <result property="attrType" column="attr_type"/>
        <result property="packageName" column="package_name"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectFieldTypeVo">
        select id,column_type,attr_type,package_name,create_time
        from gen_field_type
    </sql>

    <!--查询字段类型管理列表-->
    <select id="selectFieldTypeList" parameterType="com.polymer.generator.common.query.Query" resultMap="FieldTypeResult">
        <include refid="selectFieldTypeVo"/>
        <where>
            <if test="attrType != null and attrType != ''">
                AND attr_type like concat('%', #{attrType}, '%')
            </if>
            <if test="columnType != null and columnType != ''">
                AND column_type like concat('%', #{columnType}, '%')
            </if>
        </where>
    </select>

    <!--查询字段类型管理-->
    <select id="selectFieldTypeById" parameterType="Long" resultMap="FieldTypeResult">
        <include refid="selectFieldTypeVo"/>
        where id = #{id}
    </select>

    <!--新增字段类型管理-->
    <insert id="insertFieldType" parameterType="FieldTypeEntity" useGeneratedKeys="true" keyProperty="id">
        insert into gen_field_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="columnType != null and columnType != ''">column_type,</if>
            <if test="attrType != null and attrType != ''">attr_type,</if>
            <if test="packageName != null and packageName != ''">package_name,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="columnType != null and columnType != ''">#{columnType},</if>
            <if test="attrType != null and attrType != ''">#{attrType},</if>
            <if test="packageName != null and packageName != ''">#{packageName},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <!--修改字段类型管理-->
    <update id="updateFieldType" parameterType="FieldTypeEntity">
        update gen_field_type
        <set>
            <if test="columnType != null and columnType != ''">column_type = #{columnType},</if>
            <if test="attrType != null and attrType != ''">attr_type = #{attrType},</if>
            <if test="packageName != null and packageName != ''">package_name = #{packageName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </set>
        where id = #{id}
    </update>

    <!--删除字段类型管理-->
    <delete id="deleteFieldTypeById" parameterType="Long">
        delete from gen_field_type where id = #{id}
    </delete>

    <select id="getPackageByTableId" resultType="String">
        select t1.package_name
        from gen_field_type t1,
             gen_table_field t2
        where t1.attr_type = t2.attr_type
          and t2.table_id = #{value}
    </select>

    <select id="list" resultType="String">
        select attr_type
        from gen_field_type
    </select>

</mapper>