<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.polymer.generator.mapper.ProjectModifyMapper">

    <resultMap type="ProjectModifyEntity" id="ProjectModifyResult">
        <result property="id" column="id"/>
        <result property="projectName" column="project_name"/>
        <result property="projectCode" column="project_code"/>
        <result property="projectPackage" column="project_package"/>
        <result property="projectPath" column="project_path"/>
        <result property="modifyProjectName" column="modify_project_name"/>
        <result property="modifyProjectCode" column="modify_project_code"/>
        <result property="modifyProjectPackage" column="modify_project_package"/>
        <result property="exclusions" column="exclusions"/>
        <result property="modifySuffix" column="modify_suffix"/>
        <result property="modifyTmpPath" column="modify_tmp_path"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectProjectModifyVo">
        select id,project_name,project_code,project_package,project_path,modify_project_name,modify_project_code,modify_project_package,exclusions,modify_suffix,modify_tmp_path,create_time
        from gen_project_modify
    </sql>

    <!--查询项目名变更列表-->
    <select id="selectProjectModifyList" parameterType="com.polymer.generator.common.query.Query" resultMap="ProjectModifyResult">
        <include refid="selectProjectModifyVo"/>
        <where>
            <if test="projectName != null and projectName != ''">
                AND project_name like concat('%', #{projectName}, '%')
            </if>
        </where>
    </select>

    <!--查询项目名变更-->
    <select id="selectProjectModifyById" parameterType="Long" resultMap="ProjectModifyResult">
        <include refid="selectProjectModifyVo"/>
        where id = #{id}
    </select>

    <!--新增项目名变更-->
    <insert id="insertProjectModify" parameterType="ProjectModifyEntity" useGeneratedKeys="true" keyProperty="id">
        insert into gen_project_modify
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">project_name,</if>
            <if test="projectCode != null and projectCode != ''">project_code,</if>
            <if test="projectPackage != null and projectPackage != ''">project_package,</if>
            <if test="projectPath != null and projectPath != ''">project_path,</if>
            <if test="modifyProjectName != null and modifyProjectName != ''">modify_project_name,</if>
            <if test="modifyProjectCode != null and modifyProjectCode != ''">modify_project_code,</if>
            <if test="modifyProjectPackage != null and modifyProjectPackage != ''">modify_project_package,</if>
            <if test="exclusions != null and exclusions != ''">exclusions,</if>
            <if test="modifySuffix != null and modifySuffix != ''">modify_suffix,</if>
            <if test="modifyTmpPath != null and modifyTmpPath != ''">modify_tmp_path,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">#{projectName},</if>
            <if test="projectCode != null and projectCode != ''">#{projectCode},</if>
            <if test="projectPackage != null and projectPackage != ''">#{projectPackage},</if>
            <if test="projectPath != null and projectPath != ''">#{projectPath},</if>
            <if test="modifyProjectName != null and modifyProjectName != ''">#{modifyProjectName},</if>
            <if test="modifyProjectCode != null and modifyProjectCode != ''">#{modifyProjectCode},</if>
            <if test="modifyProjectPackage != null and modifyProjectPackage != ''">#{modifyProjectPackage},</if>
            <if test="exclusions != null and exclusions != ''">#{exclusions},</if>
            <if test="modifySuffix != null and modifySuffix != ''">#{modifySuffix},</if>
            <if test="modifyTmpPath != null and modifyTmpPath != ''">#{modifyTmpPath},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <!--修改项目名变更-->
    <update id="updateProjectModify" parameterType="ProjectModifyEntity">
        update gen_project_modify
        <set>
            <if test="projectName != null and projectName != ''">project_name = #{projectName},</if>
            <if test="projectCode != null and projectCode != ''">project_code = #{projectCode},</if>
            <if test="projectPackage != null and projectPackage != ''">project_package = #{projectPackage},</if>
            <if test="projectPath != null and projectPath != ''">project_path = #{projectPath},</if>
            <if test="modifyProjectName != null and modifyProjectName != ''">modify_project_name = #{modifyProjectName},</if>
            <if test="modifyProjectCode != null and modifyProjectCode != ''">modify_project_code = #{modifyProjectCode},</if>
            <if test="modifyProjectPackage != null and modifyProjectPackage != ''">modify_project_package = #{modifyProjectPackage},</if>
            <if test="exclusions != null and exclusions != ''">exclusions = #{exclusions},</if>
            <if test="modifySuffix != null and modifySuffix != ''">modify_suffix = #{modifySuffix},</if>
            <if test="modifyTmpPath != null and modifyTmpPath != ''">modify_tmp_path = #{modifyTmpPath},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </set>
        where id = #{id}
    </update>

    <!--删除项目名变更-->
    <delete id="deleteProjectModifyById" parameterType="Long">
        delete from gen_project_modify where id = #{id}
    </delete>

</mapper>