<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.polymer.generator.mapper.TableMapper">

    <resultMap type="TableEntity" id="TableResult">
        <result property="id" column="id"/>
        <result property="tableName" column="table_name"/>
        <result property="className" column="class_name"/>
        <result property="tableComment" column="table_comment"/>
        <result property="author" column="author"/>
        <result property="email" column="email"/>
        <result property="packageName" column="package_name"/>
        <result property="version" column="version"/>
        <result property="generatorType" column="generator_type"/>
        <result property="backendPath" column="backend_path"/>
        <result property="frontendPath" column="frontend_path"/>
        <result property="moduleName" column="module_name"/>
        <result property="functionName" column="function_name"/>
        <result property="formLayout" column="form_layout"/>
        <result property="datasourceId" column="datasource_id"/>
        <result property="baseclassId" column="baseclass_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectTableVo">
        select id,table_name,class_name,table_comment,author,email,package_name,version,generator_type,backend_path,frontend_path,module_name,function_name,form_layout,datasource_id,baseclass_id,create_time
        from gen_table
    </sql>

    <!--查询代码生成表列表-->
    <select id="selectTableList" parameterType="com.polymer.generator.common.query.Query" resultMap="TableResult">
        <include refid="selectTableVo"/>
        <where>
            <if test="tableName != null and tableName != ''">
                AND table_name like concat('%', #{tableName}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

    <!--查询代码生成表-->
    <select id="selectTableById" parameterType="Long" resultMap="TableResult">
        <include refid="selectTableVo"/>
        where id = #{id}
    </select>

    <!--新增代码生成表-->
    <insert id="insertTable" parameterType="TableEntity" useGeneratedKeys="true" keyProperty="id">
        insert into gen_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableName != null and tableName != ''">table_name,</if>
            <if test="className != null and className != ''">class_name,</if>
            <if test="tableComment != null and tableComment != ''">table_comment,</if>
            <if test="author != null and author != ''">author,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="packageName != null and packageName != ''">package_name,</if>
            <if test="version != null and version != ''">version,</if>
            <if test="generatorType != null">generator_type,</if>
            <if test="backendPath != null and backendPath != ''">backend_path,</if>
            <if test="frontendPath != null and frontendPath != ''">frontend_path,</if>
            <if test="moduleName != null and moduleName != ''">module_name,</if>
            <if test="functionName != null and functionName != ''">function_name,</if>
            <if test="formLayout != null">form_layout,</if>
            <if test="datasourceId != null">datasource_id,</if>
            <if test="baseclassId != null">baseclass_id,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableName != null and tableName != ''">#{tableName},</if>
            <if test="className != null and className != ''">#{className},</if>
            <if test="tableComment != null and tableComment != ''">#{tableComment},</if>
            <if test="author != null and author != ''">#{author},</if>
            <if test="email != null and email != ''">#{email},</if>
            <if test="packageName != null and packageName != ''">#{packageName},</if>
            <if test="version != null and version != ''">#{version},</if>
            <if test="generatorType != null">#{generatorType},</if>
            <if test="backendPath != null and backendPath != ''">#{backendPath},</if>
            <if test="frontendPath != null and frontendPath != ''">#{frontendPath},</if>
            <if test="moduleName != null and moduleName != ''">#{moduleName},</if>
            <if test="functionName != null and functionName != ''">#{functionName},</if>
            <if test="formLayout != null">#{formLayout},</if>
            <if test="datasourceId != null">#{datasourceId},</if>
            <if test="baseclassId != null">#{baseclassId},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <!--修改代码生成表-->
    <update id="updateTable" parameterType="TableEntity">
        update gen_table
        <set>
            <if test="tableName != null and tableName != ''">table_name = #{tableName},</if>
            <if test="className != null and className != ''">class_name = #{className},</if>
            <if test="tableComment != null and tableComment != ''">table_comment = #{tableComment},</if>
            <if test="author != null and author != ''">author = #{author},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="packageName != null and packageName != ''">package_name = #{packageName},</if>
            <if test="version != null and version != ''">version = #{version},</if>
            <if test="generatorType != null">generator_type = #{generatorType},</if>
            <if test="backendPath != null and backendPath != ''">backend_path = #{backendPath},</if>
            <if test="frontendPath != null and frontendPath != ''">frontend_path = #{frontendPath},</if>
            <if test="moduleName != null and moduleName != ''">module_name = #{moduleName},</if>
            <if test="functionName != null and functionName != ''">function_name = #{functionName},</if>
            <if test="formLayout != null">form_layout = #{formLayout},</if>
            <if test="datasourceId != null">datasource_id = #{datasourceId},</if>
            <if test="baseclassId != null">baseclass_id = #{baseclassId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </set>
        where id = #{id}
    </update>

    <!--删除代码生成表-->
    <delete id="deleteTableById" parameterType="Long">
        delete from gen_table where id = #{id}
    </delete>

    <!--查询代码生成表列表-->
    <select id="selectTableListByTableName" resultMap="TableResult">
        <include refid="selectTableVo"/>
        <where>
            <if test="tableName != null and tableName != ''">
                AND table_name = #{tableName}
            </if>
        </where>
    </select>

</mapper>