<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.polymer.system.mapper.SysDeptMapper">

    <resultMap type="SysDeptEntity" id="SysDeptResult">
        <result property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="sort" column="sort"/>
        <result property="deptPath" column="dept_path"/>
        <result property="leaderId" column="leader_id"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updater" column="updater"/>
        <result property="updateTime" column="update_time"/>
        <result property="parentName" column="parentName"/>
        <result property="leaderName" column="leaderName"/>
    </resultMap>

    <sql id="selectSysDeptVo">
        select id,
               pid,
               name,
               type,
               sort,
               leader_id,
               dept_path,
               creator,
               create_time,
               updater,
               update_time
        from sys_dept
    </sql>

    <!--查询部门管理列表-->
    <select id="selectSysDeptList" parameterType="com.polymer.system.query.SysDeptQuery" resultMap="SysDeptResult">
        <include refid="selectSysDeptVo"/>
    </select>

    <!--查询部门管理-->
    <select id="selectSysDeptById" parameterType="Long" resultMap="SysDeptResult">
        <include refid="selectSysDeptVo"/>
        where id = #{id}
    </select>

    <!--新增部门管理-->
    <insert id="insertSysDept" parameterType="SysDeptEntity" useGeneratedKeys="true" keyProperty="id">
        insert into sys_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pid != null">pid,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="type != null">type,</if>
            <if test="sort != null">sort,</if>
            <if test="leaderId != null">leader_id,</if>
            <if test="deptPath != null and deptPath != ''">dept_path,</if>
            <if test="creator != null">creator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updater != null">updater,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pid != null">#{pid},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="sort != null">#{sort},</if>
            <if test="leaderId != null">#{leaderId},</if>
            <if test="deptPath != null and deptPath != ''">#{deptPath},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updater != null">#{updater},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <!--修改部门管理-->
    <update id="updateSysDept" parameterType="SysDeptEntity">
        update sys_dept
        <set>
            <if test="id != null">id = #{id},</if>
            <if test="pid != null">pid = #{pid},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="leaderId != null">leader_id = #{leaderId},</if>
            <if test="deptPath != null and deptPath != ''">dept_path = #{deptPath},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updater != null">updater = #{updater},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <!--删除部门管理-->
    <delete id="deleteSysDeptById" parameterType="Long">
        delete from sys_dept where id = #{id}
    </delete>

    <!--查询部门管理集合-->
    <select id="getSysDeptList" parameterType="com.polymer.system.query.SysDeptQuery" resultType="SysDeptEntity">
        select t1.*, (select t2.name from sys_dept t2 where t2.id = t1.pid) parentName, t2.username as leaderName
        from sys_dept t1 left join sys_user t2 on t1.leader_id = t2.id
        <where>
            <!-- 数据范围过滤 -->
            <if test="dataScope != null and dataScope != ''">
                and ${dataScope}
            </if>
        </where>
        order by t1.sort
    </select>

    <!--获取所有部门的id、pid列表-->
    <select id="getIdAndPidList" resultType="SysDeptEntity">
        select t1.id, t1.pid from sys_dept t1
    </select>

    <!--查询部门子集个数-->
    <select id="selectCountByPid" parameterType="Long">
        select count(id) from sys_dept where pid = #{id}
    </select>

    <!--查询部门及其所有子部门-->
    <select id="selectSubDeptIdsByPath" resultType="java.lang.Long">
        SELECT id FROM sys_dept
        WHERE dept_path LIKE CONCAT(#{path}, '%')
    </select>

    <!--查询部门及其所有子部门-->
    <select id="selectDeptIdsByLeaderId" resultType="java.lang.Long">
        SELECT id FROM sys_dept
        WHERE leader_id = #{userId}
    </select>
</mapper>